page-register {
    .background{
        background-color: rgb(158, 213, 231),
    }
    .border{
        border-radius: 5px;
        border: solid;
    }
    .border2{
            border: solid;
            font-family: url('../../www/assets/fonts/Homer_Simpson_Revised.ttf');
    }
}
